.projects-page-container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh; /* Full height to vertically center the content */
  text-align: center;
  /* Optional: Set a background color */
}

.project-heading {
  margin-bottom: 20px;
  margin-top: 70px;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 0 30px;
}

.svg-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.first-svg {
  opacity: 1;
}

.second-svg {
  opacity: 1;
}

h2 {
  color: white;
  margin-top: 300px;
}
